seaborn==0.13.2
grpcio==1.70.0
python-json-logger==3.2.1
shortuuid==1.0.13
pycountry==24.6.1
nvidia-cuda-runtime-cu12==12.1.105
typing-inspection==0.4.0
decorator==5.1.1
markdown-it-py==3.0.0
better-abc==0.0.3
rfc3986-validator==0.1.1
Pygments==2.19.1
httptools==0.6.4
sniffio==1.3.1
cloudpickle==3.1.1
certifi==2025.1.31
fschat==0.2.28
dol==0.3.12
pandas==2.2.3
pyasn1==0.6.1
tornado==6.4.2
xgrammar==0.1.11
cycler==0.12.1
importlib_resources==6.5.2
toml==0.10.2
networkx==3.4.2
tinycss2==1.4.0
docstring_parser==0.16
triton==3.1.0
arrow==1.3.0
bokeh==3.7.2
PyYAML==6.0.2
graphviz==0.20.3
multidict==6.1.0
tenacity==9.0.0
pynndescent==0.5.13
jupyter-events==0.12.0
py-spy==0.4.0
numba==0.61.0
widgetsnbextension==4.0.13
jiter==0.8.2
py2store==0.1.20
blobfile==2.1.1
fastjsonschema==2.21.1
stack-data==0.6.3
multiprocess==0.70.16
cachetools==5.5.1
mdurl==0.1.2
jupyter-lsp==2.2.5
llvmlite==0.44.0
bleach==6.2.0
scipy==1.15.1
joblib==1.4.2
six==1.17.0
wrapt==1.17.2
ipykernel==6.29.5
torchaudio==2.5.1+cu121
anyio==4.8.0
outlines==0.1.11
sae-lens==5.5.2
i2==0.1.46
nvidia-cuda-nvrtc-cu12==12.1.105
svgwrite==1.4.3
matplotlib-inline==0.1.7
jupyterlab_pygments==0.3.0
argon2-cffi==23.1.0
rfc3339-validator==0.1.4
uri-template==1.3.0
lxml==4.9.4
smart-open==7.1.0
mistune==3.1.1
uvloop==0.21.0
starlette==0.45.3
nvidia-cusparse-cu12==12.1.0.106
slicer==0.0.8
livelossplot==0.5.6
fonttools==4.56.0
cffi==1.17.1
jupyter-console==6.6.3
MarkupSafe==3.0.2
tomli==2.2.1
regex==2024.11.6
matplotlib==3.10.0
exceptiongroup==1.2.2
async-timeout==5.0.1
contourpy==1.3.1
wsproto==1.2.0
smmap==5.0.2
nest-asyncio==1.6.0
nbclient==0.10.2
h11==0.14.0
numpy==1.26.4
websockets==14.2
wcwidth==0.2.13
async-lru==2.0.4
google-auth==2.38.0
xxhash==3.5.0
pyzmq==26.0.0
automated-interpretability==0.0.8
gprof2dot==2024.6.6
nvidia-cudnn-cu12==9.1.0.70
orjson==3.10.15
narwhals==1.26.0
aiosignal==1.3.2
charset-normalizer==3.4.1
gguf==0.10.0
diffusers==0.32.2
nnsight==0.4.3
Jinja2==3.1.5
circuitsvis==1.43.3
nvidia-ml-py==12.570.86
jaxtyping==0.2.37
setuptools==75.8.0
googleapis-common-protos==1.67.0rc1
comm==0.2.2
wavedrom==2.0.3.post3
prometheus-fastapi-instrumentator==7.0.2
pandocfilters==1.5.1
fsspec==2024.6.1
pydantic==2.11.2
nanogcg==0.3.0
yarl==1.18.3
GitPython==3.1.44
lm-format-enforcer==0.10.9
propcache==0.2.1
pluggy==1.5.0
safetensors==0.4.5
overrides==7.7.0
notebook==7.3.2
astor==0.8.1
protobuf==5.29.3
platformdirs==4.3.6
plotly-express==0.4.1
nvidia-cuda-cupti-cu12==12.1.105
python-dotenv==1.0.1
aiohttp-cors==0.7.0
lark==1.2.2
pyparsing==3.2.1
terminado==0.18.1
jupyterlab_server==2.27.3
beautifulsoup4==4.13.3
tiktoken==0.8.0
referencing==0.36.2
openai==1.61.1
config2py==0.1.36
blake3==1.0.4
pydantic_core==2.33.1
boostedblob==0.15.6
argon2-cffi-bindings==21.2.0
einops==0.8.1
peft==0.15.2
aiohappyeyeballs==2.4.6
sentry-sdk==2.20.0
distro==1.9.0
py-cpuinfo==9.0.0
babe==0.0.7
python-dateutil==2.9.0.post0
nbconvert==7.16.6
fqdn==1.5.1
ipython==8.32.0
idna==3.10
vllm==0.7.2
webencodings==0.5.1
statsmodels==0.14.4
opencv-python-headless==4.11.0.86
prometheus_client==0.21.1
outlines_core==0.1.26
Send2Trash==1.8.3
ptyprocess==0.7.0
partial-json-parser==0.2.1.1.post5
torch==2.5.1+cu121
jupyter==1.1.1
depyf==0.18.0
debugpy==1.8.12
attrs==25.1.0
jupyterlab_widgets==3.0.13
xformers==0.0.28.post3
opencensus==0.11.4
langdetect==1.0.9
psutil==6.1.1
wandb==0.19.6
watchfiles==1.0.4
datasets==2.21.0
jsonschema==4.23.0
aiohttp==3.11.12
websocket-client==1.8.0
gitdb==4.0.12
zstandard==0.22.0
virtualenv==20.29.1
bidict==0.23.1
babel==2.17.0
json5==0.10.0
pyarrow==19.0.0
tqdm==4.67.1
distlib==0.3.9
sympy==1.13.1
pybind11==2.13.6
httpx==0.27.2
jupyterlab==4.3.5
nvidia-cufft-cu12==11.0.2.54
pure_eval==0.2.3
fancy-einsum==0.0.3
jsonpointer==3.0.0
shellingham==1.5.4
traitlets==5.14.3
nh3==0.2.21
accelerate==1.3.0
nvidia-cusolver-cu12==11.4.5.107
pytest==8.3.4
asttokens==3.0.0
nvidia-cublas-cu12==12.1.3.1
packaging==24.2
iniconfig==2.0.0
wadler_lindig==0.1.3
beartype==0.14.1
types-python-dateutil==2.9.0.20241206
jupyter_server==2.15.0
wheel==0.45.1
markdown2==2.5.3
jupyter_core==5.7.2
dictionary-learning==0.1.0
pexpect==4.9.0
nbformat==5.10.4
uvicorn==0.34.0
jsonschema-specifications==2024.10.1
frozenlist==1.5.0
isoduration==20.11.0
simple-websocket==1.1.0
click==8.1.8
simple-parsing==0.1.7
pytz==2025.1
fastchat==0.1.0
threadpoolctl==3.5.0
dill==0.3.8
opencensus-context==0.1.3
interegular==0.3.3
airportsdata==20241001
msgspec==0.19.0
ipywidgets==8.1.5
pyasn1_modules==0.4.1
umap-learn==0.5.7
pycryptodomex==3.21.0
rpds-py==0.22.3
kaleido==0.2.1
huggingface-hub==0.28.1
latex2mathml==3.77.0
tzdata==2025.1
nltk==3.9.1
filelock==3.17.0
requests==2.32.3
colorful==0.5.6
shap==0.46.0
defusedxml==0.7.1
rsa==4.9
nvidia-nccl-cu12==2.21.5
soupsieve==2.6
torchvision==0.20.1+cu121
nvidia-nvjitlink-cu12==12.4.127
webcolors==24.11.1
jedi==0.19.2
compressed-tensors==0.9.1
sentencepiece==0.2.0
plotly==5.24.1
prompt_toolkit==3.0.50
zipp==3.21.0
rich==13.9.4
mpmath==1.3.0
nvidia-curand-cu12==10.3.2.106
kiwisolver==1.4.8
typing_extensions==4.12.2
scikit-learn==1.6.1
pillow==11.1.0
docker-pycreds==0.4.0
transformers==4.47.1
httpcore==1.0.7
fastapi==0.115.8
pycparser==2.22
mistral_common==1.5.3
jupyter_client==8.6.3
urllib3==2.3.0
parso==0.8.4
diskcache==5.6.3
executing==2.2.0
notebook_shim==0.2.4
typeguard==4.4.1
importlib_metadata==8.6.1
python-engineio==4.11.2
annotated-types==0.7.0
proto-plus==1.26.0
msgpack==1.1.0
pytest-profiling==1.8.1
patsy==1.0.1
transformer-lens==2.13.0
graze==0.1.29
google-api-core==2.24.1
pip==25.0
transformers-stream-generator==0.0.5
xyzservices==2025.1.0
tokenizers==0.21.0
nvidia-nvtx-cu12==12.1.105
python-socketio==5.12.1
ray==2.42.0
jupyter_server_terminals==0.5.3
typer==0.12.5
setproctitle==1.3.4
importlib_metadata==8.0.0
wheel==0.43.0
backports.tarfile==1.2.0
typeguard==4.3.0
zipp==3.19.2
autocommand==2.2.2
tomli==2.0.1
jaraco.collections==5.1.0
inflect==7.3.1
jaraco.functools==4.0.1
packaging==24.2
jaraco.context==5.3.0
more-itertools==10.3.0
jaraco.text==3.12.1
typing_extensions==4.12.2
platformdirs==4.2.2
